body {
    background: linear-gradient(to right, #6a11cb, #2575fc);
    font-family: 'Arial', sans-serif;
    margin: 0;
    height: 100vh;
    overflow: hidden;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    height: 80px;
}

.logo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-left: 10px;
}

.institution-name {
    color: #333;
    font-size: 30px;
    margin: 0;
}

.profile-menu {
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
}

.profile-menu span {
    color: #333;
    margin-right: 10px;
    font-size: 1em;
}

.profile-image {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 15px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    right: 0;
    top: 50px;
    border-radius: 5px;
    overflow: hidden;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.show {
    display: block;
}

.main-container {
    display: flex;
    height: calc(100vh - 80px);
    width: 100%;
    box-sizing: border-box;
}

.content-container {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    padding: 20px;
    margin-left: 80px; /* Adjusted margin to create space for the sidebar area */
    box-sizing: border-box;
    overflow-y: auto;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: calc(50% - 20px);
    margin: 10px;
    box-sizing: border-box;
}

h2 {
    margin-top: 0;
    font-size: 1.5em;
    color: #333;
}

canvas {
    width: 100% !important;
    height: auto !important;
}

.timeline {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.timeline div {
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 1em;
    border-radius: 5px;
}

.present {
    background-color: green;
}

.leave {
    background-color: yellow;
    color: #333;
}

.absent {
    background-color: red;
}
